.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(210deg,
        #0400ff9d 0%,
        #0043d3 40.13%,
        #007fb9 90%);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.233);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    min-width: 800px;
    min-height: 500px;
    padding: 1.5rem;
    margin: 1rem auto;
}

.loading-friends {
    margin: 1rem auto;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.712);
}

.friend-form {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    margin: 1rem auto;
}

.friend-form input {
    background: white;
}

.submit-friend {
    border: none;
    padding: 0.2rem 2rem;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.219);
    border-radius: 6px;
    border: 2px solid white;
    color: #ffffff !important;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    justify-self: flex-end;
}

.friend {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.250);
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid rgba(165, 165, 165, 0.4);
    padding: 0.25rem;
}

.friend-title {
    margin: 2rem 0 1rem;
    text-align: center;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.712);
    text-decoration: underline;
    position: relative;
}

.logout {
    border-radius: 8px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.219);
}